<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>final_home_A</servlet-name>
        <servlet-class>final_home_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_A</servlet-name>
        <servlet-class>final_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_B</servlet-name>
        <servlet-class>final_B</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_C</servlet-name>
        <servlet-class>final_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_D</servlet-name>
        <servlet-class>final_D</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_E</servlet-name>
        <servlet-class>final_E</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_F</servlet-name>
        <servlet-class>final_F</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_G</servlet-name>
        <servlet-class>final_G</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_H</servlet-name>
        <servlet-class>final_H</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mid_v2_A</servlet-name>
        <servlet-class>mid_servelet.mid_v2_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mid_v2_B</servlet-name>
        <servlet-class>mid_servelet.mid_v2_B</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mid_v2_C</servlet-name>
        <servlet-class>mid_servelet.mid_v2_C</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>final_home_A</servlet-name>
        <url-pattern>/final_home_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_A</servlet-name>
        <url-pattern>/final_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_B</servlet-name>
        <url-pattern>/final_B</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_C</servlet-name>
        <url-pattern>/final_C</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_D</servlet-name>
        <url-pattern>/final_D</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_E</servlet-name>
        <url-pattern>/final_E</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_F</servlet-name>
        <url-pattern>/final_F</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_G</servlet-name>
        <url-pattern>/final_G</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_H</servlet-name>
        <url-pattern>/final_H</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mid_v2_A</servlet-name>
        <url-pattern>/mid_v2_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mid_v2_B</servlet-name>
        <url-pattern>/mid_v2_B</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mid_v2_C</servlet-name>
        <url-pattern>/mid_v2_C</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
